* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/*----------------------------------------------------------------*/

/* Header Styles */

/*----------------------------------------------------------------*/
.container {
    max-width: 1140px;
}
header {
    color: #fff;
    text-align: center;
    background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(/resources/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 65%;
    height: 12rem;
}

.header-container {
    width: 80%;
    margin: auto;
}

.contact-info {
    display: flex;
    justify-content: right;
    background-image: linear-gradient(180deg,#005896 0,rgba(18, 47, 68, 0.4) 3rem,rgba(255, 255, 255, 0.034) 4rem);
    color: hsl(0, 0%, 100%);
    padding: 0.5rem;
}

.contact-info p {
    margin: 0;
    padding-right: 8rem;
}
.contact-info p i {
    padding: 0rem 0.7rem;
    color: #ffe600;
}
.contact-info a {
    text-decoration: none;
    color: inherit;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 10rem;
    height: auto;
}
.logo a {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #fff;
    border-right:  3px solid #fff;
    border-radius: 50%;
    transition: all 0.7s;
}
.logo a:hover {
    border-bottom: 3px solid hsla(197, 100%, 42%, 0.616);
    border-left: 3px solid hsla(197, 100%, 42%, 0.616);
    border-right: 3px solid hsla(197, 100%, 42%, 0.616);

}

.mobile-menu {
    display: none;
}
/*----------------------------------------------------------------*/

/* Navigation */

/*----------------------------------------------------------------*/
nav {
    background-color: #f8f8f8;
    border-top: 1px solid #7e7e7e79;
    border-bottom: 1px solid #7e7e7e79;
}
nav .nav-links {
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: start;
    align-items: center;

}

nav li {
    display: inline;
    padding: 0.8rem 1.1rem;
    cursor: pointer;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-size: 0.9rem;
    transition: all 0.6s;
    letter-spacing: 1px;
}  
nav li:hover {
    background-color: #dddddd;
    border-bottom: 3px solid #005896;
}

.nav-active {
    border-bottom: 3px solid #005896;
}

/*----------------------------------------------------------------*/

/* Company Description */

/*----------------------------------------------------------------*/
#company-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 0.5rem;
    line-height: 3rem;
    border-radius: 0.5rem;
    margin: 2rem;   
    margin-top: 4rem;
    font-family: 'Roboto Condensed';
}

.company-description-container h1 {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.company-description-container p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2rem;
    margin-top: 1rem;
}



/*----------------------------------------------------------------*/

/* Offer */

/*----------------------------------------------------------------*/
#offer {
    display: flex;
    width: 100%;
}
.offer-right{
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ), url(/resources/szkolne.jpg);
    background-size: cover;
    border-radius: 15px;


}
.offer-right ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0%;
    margin: 0;
    height: 100%;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 3px solid rgba(255,255,255);

}

.offer-right ul li {
    text-transform: uppercase;
    font-weight: 600;
    text-align:end;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.6s;
    cursor: pointer;


}
.offer-right ul li i {
    font-size: 1.5rem;
    margin-right:1rem ;

}
.offer-right ul li:hover {
    color: #ffb703;
}
.offer-active {
    color: #ffb703;
}

.offer-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    color: hsl(0, 0%, 0%);
    max-width: 75%;
    height: 100%;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.offer-description h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-align: center;
    color: hsl(0, 0%, 100%);

}

.offer-description p {
    font-size: 1.2rem;
    text-align:left;
    color: hsl(0, 0%, 0%);
    padding: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 400;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/*----------------------------------------------------------------*/

/* Partners */

/*----------------------------------------------------------------*/

#partners {
    margin-top: 2rem;
    background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(/resources/partners-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 2rem;
}

.partners-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 60%;
    border-radius: 20px;
    margin: auto;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.68);

}

.partners-container h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 600;
}
.partners-list img {
   margin: 2rem;
   width: 140px;
}
.partners-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/*----------------------------------------------------------------*/

/* Footer */

/*----------------------------------------------------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    background: #0362AB;
    color: white;
    font-weight: 500;
    gap: 0.2rem;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(180deg,#005896 0,rgba(18, 47, 68, 0.4) 3rem,rgba(255, 255, 255, 0.034) 4rem);
  }
  .footer-left a {
    text-decoration: none;
    color: #ecf000;
  }
  .footer img {
    width: 8rem;
  }
  .footer-right {
    background-color: #FFF;
  }
  .footer-left {
    text-align: end;
  }

  .footer p {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .footer-left img {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

/*----------------------------------------------------------------*/

/* Media */

/*----------------------------------------------------------------*/

/*LAPTOP*/

@media (max-width: 1200px) {

    * {
        font-size: 14px;
    }
    .container {
        max-width: 960px;
    }
}


/* TABLET */
@media (max-width: 992px) {
* {
    font-size: 12px;
}
.container {
    max-width: 720px;
}

header {
    height: 12rem;
}
.mobile-menu {
    display: block;
}
nav {
    display: none;
}
.mobile-menu {
    display: flex;
}
.mobile-menu i {
    font-size: 2.5rem;
    margin: 1rem;
}
.logo img {
    width: 100px;
}
#company-description{
    margin-top: 3rem;
}
.company-description-container h1 {
    font-size: 2rem;
}

.company-description-container p {
    font-size: 1rem;
}
.offer-container {
    max-width: 100%;
}
.offer-description {
    max-width: 90%;
    padding: 0;
}
.offer-description p {
    padding: 1rem;
}

.partners-container {
    max-width: 80%;
}

.partners-list img {
    margin: 1rem;
    width: 100px;
}
.offer-right ul li  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

/* PHONE */

@media (max-width: 768px) {
* {
    font-size: 12px;
}
.container {
    max-width: 540px;
}
header{
    height: 10rem;
}
.header-container {
    width: 100%;
}
.contact-info p {
    font-size: 0.8rem;
    padding-right: 3rem;
}
.contact-info p:last-child{
    display: none;
}
.mobile-menu {
    display: flex;
}
.mobile-menu i {
    font-size: 2.5rem;
    margin: 1rem;
}
.logo-container {
    margin: auto;
}
.logo img {
    width: 90px;
    margin: 0.6rem;
}
.logo a {
    border: none;
}
.logo a:hover {
    border: none;
}
nav {
    display: none;
}

#company-description  {
    display: none;
}
#offer {
    width: 98%;
    display: block;
}
.offer-left{
    width: 100%;
}
.offer-right {
    width: 100%;
}
.offer-right {
    display: block;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    max-width: 100%;
}
.offer-right ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-right: none;

}
.offer-right ul li {
    font-size: 0.7rem;
    flex-direction: row;
}
.offer-description {
    max-width: fit-content;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
}

.offer-description h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.offer-description p {
    width: 95%;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 0.5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;

}

.partners-container {
    max-width: 90%;
}
.partners-container h2 {
    font-size: 1.3rem;
}
.partners-list img {
    margin: 1rem;
    width: 75px;
}

.footer-center-left {
    display: none;
}

.footer-center-right {
    display: none;
}

}