<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Kalkulator kary za nrak posiadanego OC. Sprawdź wysokość kary korzystając z prostego formularza"
    />
    <title>ZZ-Consulting OC/AC</title>
    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>


    <section id="insurance">
        <h1>Ubezpieczenia</h1>

        <div class="partner-container">
            <div class="partner-box container">
              <div class="partner-left">
                <div class="partner-description-box">
                  <div class="partner-description">
        <h3>Ubezpieczenia OC/AC z ZZ-Consulting</h3>

        <h4>Dlaczego Wybierać Ubezpieczenia OC/AC z Naszej Agencji?</h4>

        <p>
            W ZZ-Consulting specjalizujemy się w dostarczaniu kompleksowej pomocy naszym klientom w znalezieniu najodpowiedniejszych polis ubezpieczeniowych. Skupiamy się zwłaszcza na Ubezpieczeniach Odpowiedzialności Cywilnej (OC) oraz Auto-Casco (AC), oferując szeroki wybór opcji dostosowanych do Twoich konkretnych potrzeb.
        </p>

        <h4>Niezależne Porównywanie Oferowanych Polis</h4>
        <p>
            Jako agencja ubezpieczeniowa, nie jesteśmy związani z żadną konkretną firmą ubezpieczeniową. Dzięki temu możemy swobodnie porównywać oferty różnych dostawców i znaleźć dla Ciebie polisę, która idealnie spełni Twoje oczekiwania.
        </p>

        <h4>Indywidualne Doradztwo Ubezpieczeniowe</h4>
        <p>
            Nasi doświadczeni konsultanci są gotowi zapewnić Ci indywidualne doradztwo. Zrozumieją Twoje potrzeby i pomogą wybrać opcje pokrycia, które najlepiej odpowiadają Twojej sytuacji życiowej i finansowej.
        </p>

        <h4>Dostęp do Najlepszych Ofert na Rynku</h4>
        <p>
            Dzięki naszym partnerstwom z renomowanymi firmami ubezpieczeniowymi, możemy zapewnić Ci dostęp do najnowszych i najkorzystniejszych ofert na rynku. Oferujemy konkurencyjne ceny i atrakcyjne warunki, abyś mógł cieszyć się optymalnym zabezpieczeniem bez nadmiernego obciążenia finansowego.
        </p>

        <h4>Prosta i Efektywna Obsługa Ubezpieczeń</h4>
        <p>
            Dbamy o to, aby cały proces zakupu ubezpieczenia był dla Ciebie łatwy i przejrzysty. Nasi eksperci służą pomocą na każdym etapie, a także zapewniają wsparcie w przypadku ewentualnych roszczeń czy konieczności dokonywania zmian w polisie.
        </p>
        <p>Odwiedź nasze biuro w Chorzowie lub zadzwoń. <br>

            tel. +48 509 039 039</p>
        </div>

    </div>
    </div>
    <div class="partner-right">
        <div class="tools-nav">
          <ul>
            <li><h2>Ubezpieczenia:</h2></li>
            <li class="partner-active">
              <a href="/ubezpieczenie-oc-ac/"
                >OC/AC</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-podrozne/"
                >Podróżne</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-szkolne"
                >Szkolne</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-na-zycie"
              >Na życie</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-mieszkan"
                >Mieszkań i domów</a
              >
            </li>
            <li>
              <a
                href="/ubezpieczenie-firmowe"
                >Firmowe</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="partner-back">
        <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>


    </section>
    
    <%- include('../../views/footer'); %>
    
    <script src="/script.js"></script>
    <script src="/form.js"></script>
  </body>
</html>
