<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Kalkulator kary za nrak posiadanego OC. Sprawdź wysokość kary korzystając z prostego formularza"
    />
    <title>ZZ-Consulting Dom/Mieszkanie</title>
    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>


    <section id="insurance">
        <h1>Ubezpieczenia</h1>
        <div class="partner-container">
            <div class="partner-box container">
              <div class="partner-left">
                <div class="partner-description-box">
                  <div class="partner-description">
        <h3>Ubezpieczenia domów z ZZ-Consulting</h3>

        <h4>Ochrona Twojego Domu - Ochrona Twojego Świata</h4>
        <p>
            W ZZ-Consulting zrozumieliśmy, jak ważne jest dla Ciebie bezpieczeństwo i spokój w Twoim własnym domu. Nasze ubezpieczenia domów/mieszkań oferują kompleksową ochronę, chroniąc Twój dom przed różnymi ryzykami, od szkód strukturalnych po kradzieże.
        </p>

        <h4>Różnorodność Opcji Pokrycia</h4>
        <p>
            Oferujemy szeroki zakres opcji pokrycia, obejmujący szkody na skutek pożarów, zalania, burz, kradzieży, a także odpowiedzialność cywilną. Bez względu na to, czy jesteś właścicielem domu jednorodzinnego, mieszkania czy apartamentu, mamy dla Ciebie odpowiednią polisę.
        </p>

        <h4>Skuteczne Partnerstwa z Najlepszymi Firmami Ubezpieczeniowymi</h4>
        <p>
            Dzięki solidnym partnerstwom z renomowanymi firmami ubezpieczeniowymi, oferujemy naszym klientom dostęp do najwyższej jakości polis ubezpieczeniowych. To gwarancja nie tylko bezpieczeństwa, ale także spokoju umysłu w przypadku niespodziewanych sytuacji.
        </p>

        <h4>Spersonalizowane Doradztwo Ubezpieczeniowe</h4>
        <p>
            Nasi doświadczeni doradcy są gotowi zrozumieć Twoje unikalne potrzeby i pomóc Ci dostosować polisę do specyfiki Twojego domu oraz sytuacji życiowej. Naszym celem jest zapewnić Ci nie tylko ubezpieczenie, ale także poczucie bezpieczeństwa i pewności.
        </p>
        <h4>Bezpieczny Dom z ZZ-Consulting</h4>

        <p>
            ZZ-Consulting to nie tylko agencja ubezpieczeniowa - to partner, który dba o bezpieczeństwo Twojego domu. Skontaktuj się z nami już dziś, aby zacząć chronić swój dom i zyskać spokój umysłu.
        </p>
        <p>Odwiedź nasze biuro w Chorzowie lub zadzwoń. <br>

            tel. +48 509 039 039</p>
      
</div>
    </div>
    </div>
    <div class="partner-right">
        <div class="tools-nav">
          <ul>
            <li><h2>Ubezpieczenia:</h2></li>
            <li>
              <a href="/ubezpieczenie-oc-ac/"
                >OC/AC</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-podrozne/"
                >Podróżne</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-szkolne"
                >Szkolne</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-na-zycie"
              >Na życie</a
              >
            </li>
            <li class="partner-active">
              <a href="/ubezpieczenie-mieszkan"
                >Mieszkań i domów</a
              >
            </li>
            <li>
              <a
                href="/ubezpieczenie-firmowe"
                >Firmowe</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="partner-back">
        <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>

    </section>
    
    <%- include('../../views/footer'); %>
    
    <script src="/script.js"></script>
    <script src="/form.js"></script>
  </body>
</html>
