<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Kalkulator kary za nrak posiadanego OC. Sprawdź wysokość kary korzystając z prostego formularza"
    />
    <title>ZZ-Consulting Szkoła</title>
    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>


    <section id="insurance">
        <h1>Ubezpieczenia</h1>
        <div class="partner-container">
            <div class="partner-box container">
              <div class="partner-left">
                <div class="partner-description-box">
                  <div class="partner-description">
        <h3>Ubezpieczenia szkolne z ZZ-Consulting</h3>

        <h4>Bezpieczeństwo Twojego Dziecka na Pierwszym Planie</h4>
        <p>
            W ZZ-Consulting zdajemy sobie sprawę, jak ważne jest bezpieczeństwo Twojego dziecka w szkole. Nasze ubezpieczenia szkolne zapewniają kompleksową ochronę, chroniąc przed różnymi sytuacjami ryzykownymi, które mogą wystąpić w trakcie nauki.
        </p>

        <h4>Ochrona od Najmłodszych Lat</h4>
        <p>
            Nasze ubezpieczenia szkolne obejmują dzieci w różnym wieku, zapewniając im ochronę od najwcześniejszych lat edukacji. Bez względu na to, czy dziecko jest w przedszkolu, szkole podstawowej czy średniej, oferujemy polisy dostosowane do specyficznych potrzeb różnych grup wiekowych.
        </p>

        <h4>Różnorodność Opcji Pokrycia</h4>
        <p>
            Oferujemy różnorodne opcje pokrycia, od ochrony zdrowia po ubezpieczenie od nieszczęśliwych wypadków. Nasze ubezpieczenia szkolne mogą obejmować również ochronę przed kradzieżą sprzętu szkolnego czy odszkodowania za szkody wyrządzone przez dziecko w trakcie zajęć.
        </p>

        <h4>Łatwe Procedury Uzyskiwania Odszkodowań</h4>
        <p>
            Dbamy o to, aby procedury zgłaszania odszkodowań były jak najbardziej zrozumiałe i łatwe. W razie jakichkolwiek problemów nasi eksperci ds. roszczeń są gotowi służyć pomocą, aby zapewnić szybkie i skuteczne rozwiązanie.
        </p>
        <h4>Spokojny Start w Nowy Rok Szkolny z ZZ-Consulting</h4>

        <p>
            ZZ-Consulting to nie tylko agencja, która sprzedaje ubezpieczenia szkolne. Jesteśmy partnerem, gotowym wesprzeć Cię w zapewnieniu bezpiecznego otoczenia edukacyjnego dla Twojego dziecka. Skontaktuj się z nami już dziś, aby zacząć planować spokojny start w nowy rok szkolny.
        </p>

        <p>Odwiedź nasze biuro w Chorzowie lub zadzwoń. <br>

           tel. +48 509 039 039</p>
      
</div>
    </div>
    </div>
    <div class="partner-right">
        <div class="tools-nav">
          <ul>
            <li><h2>Ubezpieczenia:</h2></li>
            <li>
              <a href="/ubezpieczenie-oc-ac/"
                >OC/AC</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-podrozne/"
                >Podróżne</a
              >
            </li>
            <li class="partner-active">
              <a href="/ubezpieczenie-szkolne"
                >Szkolne</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-na-zycie"
              >Na życie</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-mieszkan"
                >Mieszkań i domów</a
              >
            </li>
            <li>
              <a
                href="/ubezpieczenie-firmowe"
                >Firmowe</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="partner-back">
        <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>

    </section>
    
    <%- include('../../views/footer'); %>
    
    <script src="/script.js"></script>
    <script src="/form.js"></script>
  </body>
</html>
