<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Kalkulator kary za nrak posiadanego OC. Sprawdź wysokość kary korzystając z prostego formularza"
    />
    <title>ZZ-Consulting Podróże</title>
    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>


    <section id="insurance">
        <h1>Ubezpieczenia</h1>
        <div class="partner-container">
            <div class="partner-box container">
              <div class="partner-left">
                <div class="partner-description-box">
                  <div class="partner-description">
        <h3>Ubezpieczenia podróżne z ZZ-Consulting</h3>

        <h4>Niezawodna Ochrona w Trakcie Podróży</h4>
        <p>
            W ZZ-Consulting specjalizujemy się w dostarczaniu kompleksowej pomocy naszym klientom w zakresie ubezpieczeń podróżnych. Niezależnie od celu podróży czy długości wyjazdu, nasze polisy zapewniają niezawodną ochronę w razie niespodziewanych sytuacji podczas podróży.
        </p>
        <h4>Różnorodność Opcji Pokrycia</h4>
        <p>
            Oferujemy szeroką gamę opcji pokrycia, dostosowanych do różnych potrzeb podróżnych. Nasze ubezpieczenia podróżne obejmują nie tylko koszty medyczne, ale także utratę bagażu, opóźnienia lotów, czy nawet pomoc w nagłych sytuacjach za granicą.
        </p>

        <h4>Światowe Partnerstwa z Uznawanymi Firmami</h4>
        <p>
            Współpracujemy z uznawanymi firmami ubezpieczeniowymi na całym świecie, co pozwala nam oferować polisy podróżne z konkurencyjnymi warunkami. Dzięki tym partnerstwom możemy dostarczyć klientom ubezpieczenia dopasowane do lokalnych warunków i wymagań.
        </p>

        <h4>Skuteczna Pomoc na Każdym Etapie Podróży</h4>
        <p>
            Dbamy o to, aby nasze ubezpieczenia nie były tylko kartą plastikową w portfelu, lecz rzeczywistym wsparciem w trakcie podróży. Nasi konsultanci są dostępni, aby pomóc w sytuacjach awaryjnych, a procedury zgłaszania szkód są proste i efektywne.
        </p>
        <h4>Bezpieczne Podróże z ZZ-Consulting</h4>

        <p>
            ZZ-Consulting to nie tylko agencja, która sprzedaje ubezpieczenia podróżne. Jesteśmy partnerem, gotowym zapewnić Ci spokój umysłu podczas każdej podróży. Skontaktuj się z nami już dziś, aby zacząć planować bezpieczne i niezapomniane podróże.
        </p>
        <p>Odwiedź nasze biuro w Chorzowie lub zadzwoń. <br>

            tel. +48 509 039 039</p>
      
</div>
    </div>
    </div>
    <div class="partner-right">
        <div class="tools-nav">
          <ul>
            <li><h2>Ubezpieczenia:</h2></li>
            <li>
              <a href="/ubezpieczenie-oc-ac/"
                >OC/AC</a
              >
            </li>
            <li class="partner-active">
              <a href="/ubezpieczenie-podrozne/"
                >Podróżne</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-szkolne"
                >Szkolne</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-na-zycie"
              >Na życie</a
              >
            </li>
            <li>
              <a href="/ubezpieczenie-mieszkan"
                >Mieszkań i domów</a
              >
            </li>
            <li>
              <a
                href="/ubezpieczenie-firmowe"
                >Firmowe</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="partner-back">
        <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>

    </section>
    
    <%- include('../../views/footer'); %>
    
    <script src="/script.js"></script>
    <script src="/form.js"></script>
  </body>
</html>
