<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Generator powiadomienia o wyrejestrowaniu pojazdu. Wypełnij formularz internetowo, wydrukuj i wyślij gotowy formularz z danymi!"
    />
    <title>ZZ-Consulting Powiadomienie o wyrejestrowaniu pojazdu</title>
    
    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="tools">
      <h1>Narzędzia</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-description">
                <h3>Work in progress...</h3>

              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="tools-nav">
              <ul>
                <li><h2>Dokumenty:</h2></li>
                <li>
                  <a href="/narzedzia/wypowiedzenie-oc"
                    >Wypowiedzenie ubezpieczenia oc online</a
                  >
                </li>
                <li>
                  <a href="/narzedzia/powiadomienie-o-zbyciu"
                    >Powiadomienie o zbyciu pojazdu</a
                  >
                </li>
                <li class="partner-active">
                  <a href="/narzedzia/powiadomienie-o-wyrejestrowaniu"
                    >Powiadomienie o wyrejestrowaniu pojazdu</a
                  >
                </li>
                <li>
                  <a href="/narzedzia">Instrukcja wypełniania formularzy</a>
                </li>
                <li><h2>Kalkulatory:</h2></li>
                <li>
                  <a href="/narzedzia/kalkulator-kary"
                    >Kalkulator kary za brak oc</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.compero.pl/kalkulator_polis/p/MjAyMTg1LWM2YmE="
                    >Kalkulator polis online</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
    <script src="/form.js"></script>
  </body>
</html>
