<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>Allianz ZZ-Consulting</title>
    
    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="partner">
      <h1>Partnerzy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-header">
                <img src="/resources/partners/ALLIANZ_logo.png" alt="Allianz" />
              </div>
              <div class="partner-description">
                <p>
                  <b>Allianz</b> to globalna potęga w świecie ubezpieczeń, oferująca kompleksowe rozwiązania dla klientów indywidualnych i biznesowych na całym świecie. Z nami możesz być pewny, że Twoje potrzeby ubezpieczeniowe są w bezpiecznych rękach.
                </p>
                <p>
                  Co oferujemy: 
                  <ul>
                    <li><b>Ubezpieczenia Majątkowe:</b> Ochrona Twojego majątku, domu, czy samochodu.</li>
                    <li><b>Ubezpieczenia na Życie:</b> Planuj swoją przyszłość z naszymi elastycznymi polisami na życie.</li>
                    <li><b>Ubezpieczenia Zdrowotne:</b> Dostosowane do Twoich potrzeb, zapewniające kompleksową opiekę medyczną.</li>
                    <li><b>Ubezpieczenia Podróży:</b> Bezpieczne podróżowanie z naszymi polisami ubezpieczeniowymi.</li>
                  </ul>
                </p>
                <p>
                  Dlaczego Allianz: 
                  <ul>
                    <li><b>Globalne Doświadczenie:</b> Ponad 100 lat doświadczenia w branży ubezpieczeniowej.</li>
                    <li><b>Wszechstronne Produkty:</b> Oferujemy różnorodne rozwiązania, dostosowane do Twoich indywidualnych potrzeb.</li>
                    <li><b>Solidność Finansowa:</b> Jesteśmy liderem w branży, gwarantując stabilność i pewność.</li>
                </ul>
                </p>
                <p class="contact-description">Infolinia: +48 224 224 224</p>
                <p class="contact-description">E-Mail: bok@allianz.pl</p>
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="partner-nav">
              <ul>
                <li class="partner-active">
                  <a href="/partnerzy/allianz/">Allianz</a>
                </li>
                <li><a href="/partnerzy/generali/">Generali</a></li>
                <li><a href="/partnerzy/hdi/">HDI</a></li>
                <li><a href="/partnerzy/interrisk/">InterRisk</a></li>
                <li><a href="/partnerzy/link4/">Link 4</a></li>
                <li><a href="/partnerzy/mtu/">MTU</a></li>
                <li><a href="/partnerzy/proama/">Proama</a></li>
                <li><a href="/partnerzy/pzu/">PZU</a></li>
                <li><a href="/partnerzy/uniqa/">Uniqa</a></li>
                <li><a href="/partnerzy/warta/">Warta</a></li>
                <li><a href="/partnerzy/wiener/">Wiener</a></li>
                <li><a href="/partnerzy/ergo-hestia/">Ergo Hestia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
  </body>
</html>
