<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>HDI ZZ-Consulting</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="partner">
      <h1>Partnerzy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-header">
                <img src="/resources/partners/HDI_logo.webp" alt="HDI" />
              </div>
              <div class="partner-description">
                <p>
                  <b>HDI</b> to globalny lider w branży ubezpieczeń, dedykowany dostarczaniu innowacyjnych i spersonalizowanych rozwiązań ubezpieczeniowych dla klientów na całym świecie. Jesteśmy znani z solidności finansowej, zaufania klientów oraz doskonałej obsługi.
                </p>
                <p>
                  Co oferujemy:
                  <ul>
                    <li><b>Ubezpieczenia Majątkowe:</b> Chronimy Twój majątek, oferując kompleksową ochronę dla domu, samochodu i więcej.</b></li>
                    <li><b>Ubezpieczenia na Życie:</b> Planuj swoją przyszłość z naszymi elastycznymi polisami na życie, dostosowanymi do Twoich unikalnych potrzeb.</li>
                    <li><b>Ubezpieczenia Zdrowotne:</b> Dbamy o Twoje zdrowie, oferując kompleksową opiekę medyczną i wsparcie.</li>
                    <li><b>Ubezpieczenia Podróży:</b> Bezpiecznie podróżuj z naszymi polisami ubezpieczeniowymi, dostosowanymi do różnych potrzeb podróżnych.</li>
                  </ul>
                </p>
                <p>
                  Dlaczego HDI:
                  <ul>
                    <li><b>Dedykowana Obsługa Klienta:</b> Nasza firma stawia na indywidualne podejście do każdego klienta, zawsze gotowi sprostać Twoim oczekiwaniom.</li>
                    <li><b>Innowacje w Ochronie:</b> Wprowadzamy nowoczesne rozwiązania, aby dostarczyć kompleksową ochronę w zmieniającym się świecie.</li>
                    <li><b>Globalna Obecność:</b> Jako część międzynarodowej grupy, jesteśmy gotowi obsługiwać klientów na całym świecie.</li>
                  </ul>
                </p>
                <p class="contact-description">Infolinia: +48 801 801 181</p>
                <p class="contact-description">E-mail: info@hdi-asekuracja.pl</p>
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="partner-nav">
              <ul>
                <li><a href="/partnerzy/allianz/">Allianz</a></li>
                <li><a href="/partnerzy/generali/">Generali</a></li>
                <li class="partner-active">
                  <a href="/partnerzy/hdi/">HDI</a>
                </li>
                <li><a href="/partnerzy/interrisk/">InterRisk</a></li>
                <li><a href="/partnerzy/link4/">Link 4</a></li>
                <li><a href="/partnerzy/mtu/">MTU</a></li>
                <li><a href="/partnerzy/proama/">Proama</a></li>
                <li><a href="/partnerzy/pzu/">PZU</a></li>
                <li><a href="/partnerzy/uniqa/">Uniqa</a></li>
                <li><a href="/partnerzy/warta/">Warta</a></li>
                <li><a href="/partnerzy/wiener/">Wiener</a></li>
                <li><a href="/partnerzy/ergo-hestia/">Ergo Hestia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
  </body>
</html>
