<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>InterRisk ZZ-Consulting</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="partner">
      <h1>Partnerzy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-header">
                <img
                  src="/resources/partners/INTERRISK_logo.webp"
                  alt="InterRisk"
                />
              </div>
              <div class="partner-description">
                <p>
                  <b>InterRisk</b> to firma ubezpieczeniowa, której celem jest dostarczanie innowacyjnych i kompleksowych rozwiązań ochronnych dla klientów na rynku ubezpieczeniowym. Jesteśmy dedykowani bezpieczeństwu i zadowoleniu naszych klientów.
                </p>
                <p>
                  Co oferujemy:
                  <ul>
                    <li><b>Ubezpieczenia Majątkowe:</b> Ochrona Twojego majątku, mieszkania i mienia przed nieprzewidzianymi zdarzeniami.</li>
                    <li><b>Ubezpieczenia na Życie:</b> Elastyczne polisy na życie, dostosowane do Twoich indywidualnych potrzeb i planów życiowych.</li>
                    <li><b>Ubezpieczenia Zdrowotne:</b> Kompleksowe rozwiązania medyczne, które zapewniają spokój ducha w razie potrzeby opieki zdrowotnej.</li>
                    <li><b>Ubezpieczenia Podróży:</b> Obejmujemy Cię ochroną na każdym etapie podróży, zapewniając spokój i bezpieczeństwo.</li>
                  </ul>
                </p>
                <p>
                  Dlaczego InterRisk:
                  <ul>
                    <li><b>Długoletnie Doświadczenie:</b> Jesteśmy obecni na rynku od wielu lat, zdobywając zaufanie klientów.</li>
                    <li><b>Wszechstronne Produkty:</b> Nasze ubezpieczenia są dopasowane do różnych potrzeb, zapewniając kompleksową ochronę.</li>
                    <li><b>Indywidualne Podejście:</b> Zawsze stawiamy na indywidualne podejście do klienta, rozumiejąc jego unikalne potrzeby.</li>
                  </ul>
                </p>
                <p class="contact-description">Infolinia: +48 22 575 25 25</p>
                <p class="contact-description">E-mail: korespondencja@InterRisk.pl</p>
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="partner-nav">
              <ul>
                <li><a href="/partnerzy/allianz/">Allianz</a></li>
                <li><a href="/partnerzy/generali/">Generali</a></li>
                <li><a href="/partnerzy/hdi/">HDI</a></li>
                <li class="partner-active">
                  <a href="/partnerzy/interrisk/">InterRisk</a>
                </li>
                <li><a href="/partnerzy/link4/">Link 4</a></li>
                <li><a href="/partnerzy/mtu/">MTU</a></li>
                <li><a href="/partnerzy/proama/">Proama</a></li>
                <li><a href="/partnerzy/pzu/">PZU</a></li>
                <li><a href="/partnerzy/uniqa/">Uniqa</a></li>
                <li><a href="/partnerzy/warta/">Warta</a></li>
                <li><a href="/partnerzy/wiener/">Wiener</a></li>
                <li><a href="/partnerzy/ergo-hestia/">Ergo Hestia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
  </body>
</html>
