<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>Proama ZZ-Consulting</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="partner">
      <h1>Partnerzy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-header">
                <img src="/resources/partners/PROAMA_logo.webp" alt="Proama" />
              </div>
              <div class="partner-description">
                <p>
                  <b>Proama</b> to dynamiczna firma ubezpieczeniowa, skupiona na innowacyjności, elastyczności i satysfakcji klienta. Jesteśmy dedykowani dostarczaniu nowoczesnych i dostosowanych rozwiązań ubezpieczeniowych.
                </p>
                <p>
                  Co oferujemy:
                  <ul>
                    <li><b>Ubezpieczenia Komunikacyjne:</b> Ochrona pojazdów z elastycznymi opcjami, dopasowanymi do indywidualnych potrzeb.</li>
                    <li><b>Ubezpieczenia Mieszkania:</b> Spersonalizowane polisy ochronne dla domu, mieszkania i mienia.</li>
                    <li><b>Ubezpieczenia na Życie:</b> Elastyczne i nowoczesne produkty, dostosowane do zmieniających się potrzeb życiowych.</li>
                    <li><b>Ubezpieczenia Turystyczne:</b> Obejmujemy Cię ochroną podczas podróży, zapewniając spokój i bezpieczeństwo.</li>
                  </ul>
                </p>
                <p>
                  Dlaczego Proama:
                  <ul>
                    <li><b>Innowacyjne Rozwiązania:</b> Stawiamy na nowoczesne technologie, aby dostarczać efektywne i łatwe w obsłudze produkty.</li>
                    <li><b>Elastyczność i Dostosowanie:</b> Nasze ubezpieczenia są elastyczne i dostosowane do zmieniających się potrzeb klienta.</li>
                    <li><b>Zadowolenie Klienta:</b> Zależy nam na satysfakcji klienta, dlatego oferujemy profesjonalną obsługę i szybkie rozwiązania.</li>
                  </ul>
                </p>
                <p class="contact-description">Infolinia: +48 815 815 815</p>
                <p class="contact-description">E-mail: centrumklienta@proama.pl</p>
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="partner-nav">
              <ul>
                <li><a href="/partnerzy/allianz/">Allianz</a></li>
                <li><a href="/partnerzy/generali/">Generali</a></li>
                <li><a href="/partnerzy/hdi/">HDI</a></li>
                <li><a href="/partnerzy/interrisk/">InterRisk</a></li>
                <li><a href="/partnerzy/link4/">Link 4</a></li>
                <li><a href="/partnerzy/mtu/">MTU</a></li>
                <li class="partner-active">
                  <a href="/partnerzy/proama/">Proama</a>
                </li>
                <li><a href="/partnerzy/pzu/">PZU</a></li>
                <li><a href="/partnerzy/uniqa/">Uniqa</a></li>
                <li><a href="/partnerzy/warta/">Warta</a></li>
                <li><a href="/partnerzy/wiener/">Wiener</a></li>
                <li><a href="/partnerzy/ergo-hestia/">Ergo Hestia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
  </body>
</html>
