<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>PZU ZZ-Consulting</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="partner">
      <h1>Partnerzy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-header">
                <img src="/resources/partners/PZU_logo.webp" alt="PZU" />
              </div>
              <div class="partner-description">
                <p>
                  <b>PZU</b> to lider w polskim sektorze ubezpieczeniowym, łączący tradycję z nowoczesnością. Jesteśmy zaufanym partnerem oferującym szeroką gamę ubezpieczeń dla klientów indywidualnych i biznesowych.
                </p>
                <p>
                  Co oferujemy:
                  <ul>
                    <li><b>Ubezpieczenia Majątkowe:</b> Ochrona domu, mieszkania i mienia przed nieprzewidzianymi sytuacjami.</li>
                    <li><b>Ubezpieczenia na Życie:</b> Elastyczne polisy, dostosowane do różnorodnych potrzeb klientów na różnych etapach życia.</li>
                    <li><b>Ubezpieczenia Zdrowotne:</b> Kompleksowe rozwiązania medyczne, zapewniające spokój i wsparcie w razie potrzeby.</li>
                    <li><b>Ubezpieczenia dla Firm:</b> Dopasowane produkty dla biznesów, gwarantujące stabilność i bezpieczeństwo finansowe.</li>
                  </ul>
                </p>
                <p>
                  Dlaczego PZU:
                  <ul>
                    <li><b>Tradycja i Doświadczenie:</b> Jesteśmy obecni na rynku od dziesięcioleci, zdobywając zaufanie milionów klientów.</li>
                    <li><b>Wszechstronność Oferty:</b> Nasza oferta obejmuje różnorodne ubezpieczenia, dostosowane do zróżnicowanych potrzeb.</li>
                    <li><b>Innowacje i Nowoczesność:</b> Stawiamy na rozwój i nowoczesne technologie, aby sprostać oczekiwaniom współczesnych klientów.</li>
                </ul>
                </p>
                <p class="contact-description">Infolinia: +48 799 699 599</p>
                <p class="contact-description">E-mail: kontakt@pzu.pl</p>
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="partner-nav">
              <ul>
                <li><a href="/partnerzy/allianz/">Allianz</a></li>
                <li><a href="/partnerzy/generali/">Generali</a></li>
                <li><a href="/partnerzy/hdi/">HDI</a></li>
                <li><a href="/partnerzy/interrisk/">InterRisk</a></li>
                <li><a href="/partnerzy/link4/">Link 4</a></li>
                <li><a href="/partnerzy/mtu/">MTU</a></li>
                <li><a href="/partnerzy/proama/">Proama</a></li>
                <li class="partner-active">
                  <a href="/partnerzy/pzu/">PZU</a>
                </li>
                <li><a href="/partnerzy/uniqa/">Uniqa</a></li>
                <li><a href="/partnerzy/warta/">Warta</a></li>
                <li><a href="/partnerzy/wiener/">Wiener</a></li>
                <li><a href="/partnerzy/ergo-hestia/">Ergo Hestia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
  </body>
</html>
