<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>Uniqa ZZ-Consulting</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="partner">
      <h1>Partnerzy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-header">
                <img src="/resources/partners/UNIQA_logo.webp" alt="Uniqa" />
              </div>
              <div class="partner-description">
                <p>
                  <b>UNIQA</b> to dynamiczna firma ubezpieczeniowa, wiodąca na rynku, znana z innowacyjnych rozwiązań i pełnego zaangażowania w potrzeby klientów. Jesteśmy partnerem, który dba o Twoje bezpieczeństwo i spokój.
                </p>
                <p>
                  Co oferujemy:
                  <ul>
                    <li><b>Ubezpieczenia Mienia:</b> Ochrona Twojego domu, mieszkania i majątku, dostosowana do Twoich indywidualnych potrzeb.</li>
                    <li><b>Ubezpieczenia na Życie:</b> Elastyczne polisy na życie, oferujące kompleksową ochronę dla Ciebie i Twoich bliskich.</li>
                    <li><b>Ubezpieczenia Zdrowotne:</b> Nowoczesne rozwiązania medyczne, które zapewniają wsparcie w każdej sytuacji.</li>
                    <li><b>Ubezpieczenia Firmowe:</b> Dostosowane produkty dla przedsiębiorstw, gwarantujące bezpieczeństwo finansowe.</li>
                  </ul>
                </p>
                <p>
                  Dlaczego Uniqa:
                  <ul>
                    <li><b>Innowacje i Nowoczesność:</b> Stawiamy na rozwój i nowatorskie podejście, aby dostarczać najwyższej jakości usługi.</li>
                    <li><b>Wsparcie i Profesjonalizm:</b> Nasz zespół to ekspertowie gotowi służyć fachowym doradztwem i obsługą na najwyższym poziomie.</li>
                    <li><b>Dbałość o Klienta:</b> Każdy klient dla nas jest wyjątkowy, dlatego oferujemy spersonalizowane rozwiązania z myślą o Twoich potrzebach.</li>
                  </ul>
                </p>
                <p class="contact-description">Infolinia: +48 22 599 95 22</p>
                <p class="contact-description">E-mail: centrala@uniqa.pl</p>
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="partner-nav">
              <ul>
                <li><a href="/partnerzy/allianz/">Allianz</a></li>
                <li><a href="/partnerzy/generali/">Generali</a></li>
                <li><a href="/partnerzy/hdi/">HDI</a></li>
                <li><a href="/partnerzy/interrisk/">InterRisk</a></li>
                <li><a href="/partnerzy/link4/">Link 4</a></li>
                <li><a href="/partnerzy/mtu/">MTU</a></li>
                <li><a href="/partnerzy/proama/">Proama</a></li>
                <li><a href="/partnerzy/pzu/">PZU</a></li>
                <li class="partner-active">
                  <a href="/partnerzy/uniqa/">Uniqa</a>
                </li>
                <li><a href="/partnerzy/warta/">Warta</a></li>
                <li><a href="/partnerzy/wiener/">Wiener</a></li>
                <li><a href="/partnerzy/ergo-hestia/">Ergo Hestia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
  </body>
</html>
