<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>Warta ZZ-Consulting</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="partner">
      <h1>Partnerzy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-header">
                <img src="/resources/partners/WARTA_logo.webp" alt="Warta" />
              </div>
              <div class="partner-description">
                <p>
                  <b>WARTA</b> to solidna firma ubezpieczeniowa, z długoletnim doświadczeniem, która kładzie nacisk na tradycję, rzetelność i dostosowanie się do zmieniających się potrzeb klientów. Jesteśmy pewnym partnerem, gotowym chronić Twoją przyszłość.
                </p>
                <p>
                  Co oferujemy:
                  <ul>
                    <li><b>Ubezpieczenia Mienia:</b> Ochrona domu, mieszkania i majątku, dostosowana do Twoich indywidualnych potrzeb.</li>
                    <li><b>Ubezpieczenia na Życie:</b> Spersonalizowane polisy, które chronią Cię i Twoich bliskich na każdym etapie życia.</li>
                    <li><b>Ubezpieczenia Zdrowotne:</b> Kompleksowa opieka medyczna, zapewniająca spokój i wsparcie w razie potrzeby.</li>
                    <li><b>Ubezpieczenia dla Firm:</b> Dostosowane rozwiązania ubezpieczeniowe dla przedsiębiorstw, gwarantujące stabilność finansową.</li>
                  </ul>
                </p>
                <p>
                  Dlaczego Warta:
                  <ul>
                    <li><b>Tradycja i Doświadczenie:</b> Zaufało nam wielu klientów, korzystających z naszych usług od lat.</li>
                    <li><b>Dostosowanie do Klienta:</b> Nasze ubezpieczenia są elastyczne, dostosowane do zmieniających się potrzeb klientów.</li>
                    <li><b>Bezpieczeństwo Finansowe:</b> Jesteśmy pewnym partnerem, oferującym stabilność finansową i rzetelną obsługę.</li>
                  </ul>
                </p>
                <p class="contact-description">Infolinia: +48 502 308 308</p>
                <p class="contact-description">E-mail: bok@warta.pl</p>
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="partner-nav">
              <ul>
                <li><a href="/partnerzy/allianz/">Allianz</a></li>
                <li><a href="/partnerzy/generali/">Generali</a></li>
                <li><a href="/partnerzy/hdi/">HDI</a></li>
                <li><a href="/partnerzy/interrisk/">InterRisk</a></li>
                <li><a href="/partnerzy/link4/">Link 4</a></li>
                <li><a href="/partnerzy/mtu/">MTU</a></li>
                <li><a href="/partnerzy/proama/">Proama</a></li>
                <li><a href="/partnerzy/pzu/">PZU</a></li>
                <li><a href="/partnerzy/uniqa/">Uniqa</a></li>
                <li class="partner-active">
                  <a href="/partnerzy/warta/">Warta</a>
                </li>
                <li><a href="/partnerzy/wiener/">Wiener</a></li>
                <li><a href="/partnerzy/ergo-hestia/">Ergo Hestia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
  </body>
</html>
