<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>Wiener ZZ-Consulting</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="partner">
      <h1>Partnerzy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-header">
                <img src="/resources/partners/WIENER_logo.webp" alt="Wiener" />
              </div>
              <div class="partner-description">
                <p>
                  <b>WIENER</b> to firma ubezpieczeniowa o międzynarodowym zasięgu, znana ze stabilności finansowej i innowacyjnych rozwiązań ubezpieczeniowych. Jesteśmy globalnym partnerem, gotowym chronić Twoje wartości.
                </p>
                <p>
                  Co oferujemy:
                  <ul>
                    <li><b>Ubezpieczenia Mienia:</b> Ochrona domu, mieszkania i majątku, dostosowana do Twoich indywidualnych potrzeb.</li>
                    <li><b>Ubezpieczenia na Życie:</b> Elastyczne polisy, które gwarantują spokój i bezpieczeństwo dla Ciebie i Twoich bliskich.</li>
                    <li><b>Ubezpieczenia Zdrowotne:</b> Kompleksowa opieka medyczna, dostosowana do zmieniających się potrzeb zdrowotnych.</li>
                    <li><b>Ubezpieczenia dla Firm:</b> Dostosowane rozwiązania ubezpieczeniowe dla przedsiębiorstw, zapewniające stabilność finansową.</li>
                  </ul>
                </p>
                <p>
                  Dlaczego Wiener:
                  <ul>
                    <li><b>Globalna Obecność:</b> Jesteśmy obecni na rynkach międzynarodowych, co umożliwia nam oferowanie rozwiązań dostosowanych do różnych kulturowych i biznesowych kontekstów.</li>
                    <li><b>Innowacje i Nowoczesność:</b> Stawiamy na rozwój i nowatorskie podejście, aby sprostać dynamicznym potrzebom naszych klientów.</li>
                    <li><b>Stabilność Finansowa:</b> Jesteśmy solidnym partnerem, zapewniającym bezpieczeństwo finansowe i rzetelną obsługę.</li>
                  </ul>
                </p>
                <p class="contact-description">Infolinia: +48 22 469 69 69</p>
                <p class="contact-description">E-mail: kontakt@wiener.pl</p>
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="partner-nav">
              <ul>
                <li><a href="/partnerzy/allianz/">Allianz</a></li>
                <li><a href="/partnerzy/generali/">Generali</a></li>
                <li><a href="/partnerzy/hdi/">HDI</a></li>
                <li><a href="/partnerzy/interrisk/">InterRisk</a></li>
                <li><a href="/partnerzy/link4/">Link 4</a></li>
                <li><a href="/partnerzy/mtu/">MTU</a></li>
                <li><a href="/partnerzy/proama/">Proama</a></li>
                <li><a href="/partnerzy/pzu/">PZU</a></li>
                <li><a href="/partnerzy/uniqa/">Uniqa</a></li>
                <li><a href="/partnerzy/warta/">Warta</a></li>
                <li class="partner-active">
                  <a href="/partnerzy/wiener/">Wiener</a>
                </li>
                <li><a href="/partnerzy/ergo-hestia/">Ergo Hestia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>

    <script src="/script.js"></script>
  </body>
</html>
