<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="FAQ związane z różnymi formami ubezpieczeń. Podstawowe pojęcia z zakresu wiedzy ubezpieczeniowej."
    />
    <title>ZZ-Consulting FAQ</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="dictionary">
      <h1>Najczęściej zadawane pytania</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-description">
                <div class="mobile-faq">
                  <a href="/faq"><button class="button">FAQ</button></a>
                  <a href="/faq/slownik-pojec"><button class="button">Słownik pojęć</button></a>
                </div>
                <h3>1. Czym są ubezpieczenia?</h3>
                Ubezpieczenia to umowy, w ramach których ubezpieczyciel zobowiązuje się do świadczenia określonej kwoty w razie wystąpienia określonego zdarzenia, a ubezpieczony płaci składkę ubezpieczeniową.
                <h3>2. Jakie są różnice między ubezpieczeniem na życie a ubezpieczeniem majątkowym?</h3>
                Ubezpieczenie na życie zapewnia ochronę finansową w razie śmierci ubezpieczonego, podczas gdy ubezpieczenie majątkowe obejmuje ochronę przed stratą lub uszkodzeniem mienia.
                <h3>3. Czy ubezpieczenia są obowiązkowe?</h3>
                Tak, istnieją obowiązkowe ubezpieczenia, takie jak OC (Odpowiedzialność Cywilna) dla pojazdów mechanicznych. Istnieją również inne rodzaje ubezpieczeń, które są dobrowolne, ale mogą być zalecane dla ochrony przed różnymi ryzykami.
                <h3>4. Co to jest składka ubezpieczeniowa?</h3>
                Składka ubezpieczeniowa to regularna opłata, którą ubezpieczony płaci ubezpieczycielowi w zamian za ochronę ubezpieczeniową.
                <h3>5. Jaki jest zakres ochrony w polisie ubezpieczeniowej?</h3>
                Zakres ochrony określa, jakie konkretne ryzyka są objęte ubezpieczeniem. Może to obejmować szkody w mieniu, odpowiedzialność cywilną, utratę zdrowia itp.
                <h3>6. Czym jest okres obowiązywania polisy ubezpieczeniowej?</h3>
                Okres obowiązywania polisy to czas, przez który ubezpieczenie jest aktywne. Po upływie tego okresu konieczne jest przedłużenie polisy.
                <h3>7. Co to jest suma ubezpieczenia?</h3>
                Suma ubezpieczenia to maksymalna kwota, jaką ubezpieczyciel wypłaci w razie zaistnienia szkody objętej polisą.
                <h3> 8. Czy mogę zmienić warunki polisy w trakcie jej obowiązywania?</h3>
                Niektóre warunki polisy mogą być elastyczne, ale każda zmiana powinna być uzgodniona z ubezpieczycielem. Niektóre zmiany mogą wpływać na składkę ubezpieczeniową.
                <h3>9. Czy istnieją zniżki dostępne przy zakupie polis ubezpieczeniowych?</h3>
                Tak, wielu ubezpieczycieli oferuje zniżki dla bezszkodowych kierowców, klientów posiadających więcej niż jedną polisę, czy też dla osób korzystających z zabezpieczeń antywłamaniowych.
                <h3>10. Czym jest franchise w ubezpieczeniach?</h3>
                Franchise to suma, którą ubezpieczony pokrywa we własnym zakresie przed rozpoczęciem wypłaty odszkodowania. Jest to rodzaj udziału własnego w szkodzie.
                <h3>11. Czy istnieje coś takiego jak ubezpieczenie od utraty zysku dla firm?</h3>
                Tak, ubezpieczenie od utraty zysku (BI - Business Interruption) chroni przed utratą dochodu spowodowaną przerwą w działalności firmy, na przykład w wyniku pożaru czy innego zdarzenia losowego.
                <h3>12. Czy ubezpieczenie obejmuje sytuacje awaryjne podczas podróży?</h3>
                Tak, wiele polis ubezpieczeń podróżnych obejmuje sytuacje awaryjne, takie jak nagła choroba, utrata bagażu, czy odwołane loty.
                <h3>13. Jakie są korzyści z ubezpieczenia zdrowotnego?</h3>
                Ubezpieczenie zdrowotne może pokrywać koszty leczenia, operacje, wizyty lekarskie, leki, a także zapewniać dostęp do różnych usług medycznych.
                <h3>14. Czym jest ochrona roślin w ubezpieczeniach rolniczych?</h3>
                Ochrona roślin to ubezpieczenie upraw rolniczych przed szkodami spowodowanymi przez niekorzystne warunki atmosferyczne, szkodniki, czy inne ryzyka.
                <h3>15. Czy można wypowiedzieć umowę ubezpieczenia przed czasem?</h3>
                W większości przypadków istnieje możliwość wypowiedzenia umowy ubezpiecz                 
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="tools-nav">
              <ul>
                <li><h2>FAQ:</h2></li>
                <li class="partner-active"><a href="/faq">Najczęściej zadawane pytania</a></li>
                <li><a href="/faq/slownik-pojec" >Słownik ubezpieczeniowy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>
    
    <script src="/script.js"></script>
  </body>
</html>
