<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Słownik pojęć związanych z różnymi formami ubezpieczeń. Podstawowe pojęcia z zakresu wiedzy ubezpieczeniowej."
    />
    <title>ZZ-Consulting Słownik</title>

    <%- include ('../../views/header') %>
    <%- include('../../views/nav'); %>

    <section id="dictionary">
      <h1>Słownik ubezpieczeniowy</h1>
      <div class="partner-container">
        <div class="partner-box container">
          <div class="partner-left">
            <div class="partner-description-box">
              <div class="partner-description">
                <div class="mobile-faq">
                  <a href="/faq"><button class="button">FAQ</button></a>
                  <a href="/faq/slownik-pojec"><button class="button">Słownik pojęć</button></a>
                </div>

                  <p><b>A-----------------------------------------</b></p>
                  <p>- <b>AC (Auto Casco)</b> - ubezpieczenie autocasco, obejmujące szkody mechaniczne i kradzieże pojazdu.</p>
                  
                  <p>- <b>Agent ubezpieczeniowy</b> - osoba pośrednicząca w sprzedaży polis ubezpieczeniowych.</p>
                  
                  <p>- <b>AO (Odpowiedzialność Cywilna)</b> - ubezpieczenie odpowiedzialności cywilnej, chroniące przed roszczeniami osób trzecich.</p>
                  
                  <p><b>C-----------------------------------------</b></p>
                  <p>- <b>COA (Comprehensive Own Account)</b> - ubezpieczenie na rzecz własnego rachunku, obejmujące różne rodzaje ryzyk.</p>
                  
                  <p><b>D-----------------------------------------</b></p>
                  <p>- <b>Dobrowolne ubezpieczenie</b> - polisa, którą klient dobrowolnie wybiera dla dodatkowej ochrony.</p>
                  
                  <p><b>F-----------------------------------------</b></p>
                  <p>- <b>FRANCHISE</b> - suma, którą ubezpieczony pokrywa we własnym zakresie przed rozpoczęciem wypłaty odszkodowania.</p>
                  
                  <p><b>G-----------------------------------------</b></p>
                  <p>- <b>GAP Insurance</b> - ubezpieczenie różnicy wartości, chroniące przed stratą finansową w przypadku kradzieży lub zniszczenia pojazdu.</p>
                  
                  <p><b>I-----------------------------------------</b></p>
                  <p>- <b>IKZE (Indywidualne Konto Zabezpieczenia Emerytalnego)</b> - forma oszczędzania na cele emerytalne z dodatkowym ubezpieczeniem na życie.</p>
                  
                  <p>- <b>Inspektor ubezpieczeniowy</b> - osoba odpowiedzialna za ocenę ryzyka przed zawarciem umowy.</p>
                  
                  <p><b>K-----------------------------------------</b></p>
                  <p>- <b>KL (Koszty Leczenia)</b> - ubezpieczenie kosztów leczenia, obejmujące opłaty za leki, hospitalizację itp.</p>
                  
                  <p>- <b>Kodeks Ubezpieczeń</b> - zbiór przepisów regulujących rynek ubezpieczeniowy w Polsce.</p>
                  
                  <p>- <b>KRAJ (Krajowy Rejestr Agencji Ubezpieczeniowych)</b> - rejestr agencji ubezpieczeniowych w Polsce.</p>
                  
                  <p><b>L-----------------------------------------</b></p>
                  <p>- <b>Leasing GAP Insurance</b> - ubezpieczenie różnicy wartości dla pojazdów objętych umową leasingu.</p>
                  
                  <p><b>M-----------------------------------------</b></p>
                  <p>- <b>Majątek firmy</b> - ubezpieczenie mienia przed szkodami na skutek pożaru, zalania, kradzieży, itp.</p>
                  
                  <p><b>N-----------------------------------------</b></p>
                  <p>- <b>NWW (Następstwa Nieszczęśliwych Wypadków)</b> - ubezpieczenie od skutków nieszczęśliwych wypadków.</p>
                  
                  <p><b>O-----------------------------------------</b></p>
                  <p>- <b>OC (Odpowiedzialność Cywilna)</b> - podstawowe ubezpieczenie odpowiedzialności cywilnej dla pojazdów mechanicznych.</p>
                  
                  <p>- <b>Ochrona prawna</b> - ubezpieczenie pokrywające koszty związane z dochodzeniem roszczeń prawnych.</p>
                  
                  <p>- <b>Odpowiedzialność cywilna pracodawcy</b> - ubezpieczenie chroniące pracodawcę przed roszczeniami pracowników.</p>
                  
                  <p>- <b>Otwarta polisa ubezpieczeniowa</b> - umowa ubezpieczenia, która obejmuje różne rodzaje ryzyk.</p>
                  
                  <p>- <b>Ochrona roślin</b> - ubezpieczenie upraw rolniczych przed szkodami.</p>
                  
                  <p><b>P-----------------------------------------</b></p>
                  <p>- <b>Pakiet ubezpieczeniowy</b> - zestaw różnych polis ubezpieczeniowych oferowanych jako jedna całość.</p>
                  
                  <p>- <b>Polisa na życie</b> - ubezpieczenie na życie z opcją świadczenia w razie śmierci ubezpieczonego.</p>
                  
                  <p>- <b>Polisa terminowa</b> - ubezpieczenie obowiązujące przez określony czas.</p>
                  
                  <p>- <b>Przypadek ubezpieczeniowy</b> - zdarzenie, które jest podstawą do wypłaty odszkodowania.</p>
                  
                  <p><b>R-----------------------------------------</b></p>
                  <p>- <b>Rękojmia</b> - gwarancja jakości świadczenia usług przez ubezpieczyciela.</p>
                  
                  <p>- <b>Rękojmia ubezpieczeniowa</b> - gwarancja jakości świadczenia usług przez brokera ubezpieczeniowego.</p>
                  
                  <p>- <b>Ryzyko ubezpieczeniowe</b> - zagrożenie, przed którym chroni polisa ubezpieczeniowa.</p>
                  
                  <p><b>S-----------------------------------------</b></p>
                  <p>- <b>Składka ubezpieczeniowa</b> - regularna opłata za ubezpieczenie.</p>
                  
                  <p>- <b>Skrócone świadczenie</b> - świadczenie ubezpieczeniowe pomniejszone o określone zobowiązania.</p>
                  
                  <p>- <b>Suma ubezpieczenia</b> - maksymalna kwota, jaką ubezpieczyciel wypłaci w razie szkody.</p>
                  
                  <p><b>U-----------------------------------------</b></p>
                  <p>- <b>Ubezpieczenie grupowe</b> - polisa obejmująca grupę osób, np. pracowników firmy.</p>
                  
                  <p>- <b>Ubezpieczenie na życie z funduszem inwestycyjnym</b> - polisa łącząca ubezpieczenie na życie z możliwością inwestowania środków.</p>
                  
                  <p>- <b>Ubezpieczenie od utraty zysku (BI - Business Interruption)</b> - ochrona przed utratą dochodu spowodowaną przerwą w działalności.</p>
                  
                  <p>- <b>Ubezpieczenie od zagrożeń politycznych</b> - polisa obejmująca ryzyka związane z sytuacją polityczną w kraju.</p>
                  
                  <p>- <b>Ubezpieczenie podróżne</b> - polisa chroniąca przed ryzykami związanymi z podróżami.</p>
                  
                  <p>- <b>Ubezpieczenie zdrowotne</b> - polisa obejmująca koszty leczenia i opieki medycznej.</p>
                  
                  <p>- <b>UBEZPIECZENIE ZDROWOTNE – NFZ (Narodowy Fundusz Zdrowia)</b> - system ubezpieczenia zdrowotnego w Polsce.</p>
                  
                  <p>- <b>UBEP (Ubezpieczenie Bezpieczne Plus)</b> - ubezpieczenie komunikacyjne oferowane przez Polskie Towarzystwo Ubezpieczeń Wzajemnych.</p>
                  
                  <p>- <b>UM (Ubezpieczenie Mienia)</b> - polisa obejmująca ryzyko związane z utratą lub uszkodzeniem mienia.</p>
                  
                  <p>- <b>Ustawa o ubezpieczeniach obowiązkowych</b> - akt prawny regulujący zakres obowiązkowych ubezpieczeń w Polsce.</p>
                  
                  <p><b>W-----------------------------------------</b></p>
                  <p>- <b>Wartość rynkowa pojazdu</b> - cena rynkowa pojazdu, stanowiąca podstawę do wypłaty odszkodowania.</p>
                  
                  <p>- <b>Wypadkowe</b> - jednorazowe świadczenie w razie wypadku lub choroby zawodowej.</p>
                  
                  <p><b>Z-----------------------------------------</b></p>
                  <p>- <b>Zaświadczenie ubezpieczeniowe OC</b> - dokument potwierdzający posiadanie ubezpieczenia OC pojazdu.</p>
                  
                  <p>- <b>Zakład ubezpieczeń</b> - firma oferująca produkty ubezpieczeniowe.</p>
                  
                  <p>- <b>Zakres ochrony</b> - określenie, jakie ryzyka są objęte ubezpieczeniem.</p>
                  <p> </p>                    
              </div>
            </div>
          </div>
          <div class="partner-back">
            <a class="js-back"><i class="fa-solid fa-angles-left"></i></a>
          </div>
          <div class="partner-right">
            <div class="tools-nav">
              <ul>
                <li><h2>FAQ:</h2></li>
                <li><a href="/faq">Najczęściej zadawane pytania</a></li>
                <li class="partner-active"><a href="/faq/slownik-pojec" >Słownik ubezpieczeniowy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../views/footer'); %>
    
    <script src="/script.js"></script>
  </body>
</html>
