<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>ZZ-Consulting 404</title>

    <%- include ('../views/header') %>
    <%- include('../views/nav'); %>

    <section id="404">
      <div class="container center">
        <img src="/resources/404.gif" alt="404" />
      </div>
    </section>

    <%- include('../views/footer'); %>
    
    <script src="/script.js"></script>
  </body>
</html>
