<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agencja ubezpieczeniowa to miejsce, gdzie możesz uzyskać informacje i zakupić różnego rodzaju ubezpieczenia."
    />
    <title>ZZ-Consulting O nas</title>

    <%- include ('../views/header') %>
    <%- include('../views/nav'); %>

    <section id="about">
      <h1>O nas</h1>

      <div class="about-us container">
        <div class="left-site what-we-do">
          <h3>Co robimy?</h3>
          <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-solid fa-star"></i>
          <p>
            Tworzymy spersonalizowane rozwiązania ubezpieczeniowe, dostosowane
            do Twoich indywidualnych potrzeb. Nasza misja to nie tylko zapewnić
            ochronę finansową, ale także budować trwałe relacje oparte na
            zaufaniu. Dzięki innowacyjnemu podejściu i doświadczeniu w branży
            ubezpieczeniowej, stawiamy na kompleksową opiekę, gwarantując Ci
            spokój ducha. Poznaj nas bliżej i przekonaj się, dlaczego warto nam
            zaufać!"
          </p>
        </div>
        <div class="right-site right-img">
          <img src="/resources/aboutus.webp" alt="o nas" />
        </div>
      </div>
      <div class="about-us container">
        <div class="right-site left-img reveal fade-left">
          <img src="/resources/employee.webp" alt="employee" />
        </div>
        <div class="left-site right-descr reveal fade-right">
          <h3>Poznaj nasz zespół</h3>
          <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-solid fa-star"></i>
          <p>
            Jesteśmy zespołem pasjonatów, gotowych dostosować się do Twoich
            unikalnych potrzeb. Nasza wizja to nie tylko ochrona finansowa, ale
            także partnerskie podejście, które przekracza granice standardowych
            ubezpieczeń. Poznaj nasze wartości, doświadczenie i zaangażowanie –
            razem z nami zbuduj bezpieczną przyszłość, która odzwierciedla Twoje
            marzenia i cele życiowe.
          </p>
        </div>
      </div>
      <div class="about-container container">
        <div class="left-site offer-box reveal fade-left">
          <img src="/resources/anonymous.webp" alt="picture" />
          <h3>Imię i nazwisko</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
            iusto quod est repellat recusandae magni debitis. Consectetur
            pariatur quam iusto!
          </p>
        </div>
        <div class="right-site right-img offer-box reveal fade-right">
          <img src="/resources/anonymous.webp" alt="picture" />
          <h3>Imię i nazwisko</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
            iusto quod est repellat recusandae magni debitis. Consectetur
            pariatur quam iusto!
          </p>
        </div>
      </div>
    </section>

    <%- include('../views/footer'); %>
    
    <script src="/script.js"></script>
  </body>
</html>
